body {
    background-color: #E4F9F5;
    margin: 0px;
    text-align: center;
    font-family: 'Montserrat', serif;
}

h1 {
    color: #66bfbf;
    /* line-height: 2; */
    margin: 50px auto 0 auto;    
    font-family: 'Sacramento', cursive;
    font-size: 5.625em; /* 90px 562.5%; */
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', serif;
    font-size: 2.5rem;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', serif;
}

.top-container {
    text-align: center;
    position: relative;
    padding-top: 100px;
}

.bottom-cloud {
    position: absolute;
    left: 300px;
    bottom: 300px;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 300px;
    
}

hr {
    border-style: dotted;
    border-width: 10px 0 0 0;
    width: 5%;
    color: #f1ecd6;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
}

.profile {
    margin-bottom: 100px;
}

.skills {
    margin: 100px 0 100px 0;
}

.contact-me {
    margin: 100px 0;
}

.contact-message {
    margin: 40px auto 60px;
}
.profilee {
    width: 12%
}

.computer {
    width: 25%;
    float: left;
    margin-right: 30px;
} 

.computer1 {
    width: 25%;
    float: right;
    margin-right: 30px;
} 

.bottom-container {
    background-color: #66bfbf;
    margin-top: 100px;
    padding: 50px 0 20px;
}

.footer-link {
    font-family: 'Montserrat', serif;
    margin-right: 50px;
    color: #11999E;
    text-decoration: none;
}
a:hover {
    color: #E4F9F5;
}

.copyright {
    color: #E4F9F5;
    font-size: 0.75rem;
    padding: 20px 0;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: linear-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8;
    -moz-border-radius: 8;
    border-radius: 8px;
    font-family: 'Montserrat', serif;
    color: #ffffff;
    font-size: 20px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
  }
  
  .btn:hover {
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: linear-gradient(to bottom, #30E3CB, #2BC4AD);
    text-decoration: none;
  }